<div class="login-wrapper">

    <div class="login-group">
        <form [formGroup]="loginForm" class="login">
            <h2>Login Form </h2>


            <clr-input-container>
                <input clrInput formControlName="email" type="text" id="email" placeholder="Enter Your Email" required>
                <clr-control-error *clrIfError="'required'"> Email is required</clr-control-error>

            </clr-input-container>

            <clr-password-container>
                <input clrPassword formControlName="password" type="password" id="password"
                    placeholder="Enter your password" required>
                <clr-control-error *clrIfError="'required'"> Password is required</clr-control-error>

            </clr-password-container>

            <div></div>
            <div class="alert alert-danger" role="alert" *ngIf="errorFlag">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                        Incorrect password or email.
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="loader">
                <span class="spinner spinner-sm" >
                    Loading...
                </span>
            </div> -->
            

            <div>
                <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
                <button class="btn btn-primary" type="submit" routerLink="/register/">Register</button>
            </div>



        </form>
    </div>
</div>




